<footer class="footer" >
  <div class="container">
   <div class="row">
     <div class="col-lg-4 foo-details">
       <p>CATEGORIES</p>
       <p>Dark Roast</p>
       <p>Decaf</p>                                               
       <p>Favorite Blends</p>
       <p>Flavored Favorites</p>
       <p>Indonesian</p>
       <p>South of the Border</p>
     </div>
    <div class="col-lg-4 foo-details">
      <p>INFORMATION</p>
      <p>About us</p>
      <p>Delivery & returns</p>
      <p>Testimonials</p>
      <p>Privacy policy Terms
      <p>Archives</p>
      <p>Press Releases</p>
    </div>
    <div class="col-lg-4 foo-details">
      <p>CONTACTS</p>
      <p>8901 Marmora Road, Glasgow,</p>
      <p>D04 89GR</p>
      <p>ONLINE SUPPORT</p>
      <p>1-800-234-5677</p>
      <p>1-800-234-5678</p>
    </div>  
  </div>
  </div>
</footer>
</body>
</html>