<%- include('partials/header'); -%>
<div class="container main-container ">
 <div class="about">
  <h3 class="about-heading">About</h3>
  <div class="about-navbar">
    <nav class=" about-nav navbar navbar-expand-lg navbar-light bg-light">
      <p class="about-link"><a href="/"><span style="color:black">Home</span></a> | About</p>
    </nav>
  </div>
<!------------Testimonial Area----------  -->
  <div class="container-row about-area">
    <div class="first-div">
     <h5>Testimonials</h5>
     <div class="test-content">
      <blockquote>Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla...</blockquote>
      <p>Tim Barkley, Manager
        https://demolink.org</p>
      <blockquote>Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla...</blockquote>
      <p>Lisa Whistler, Consultant
        https://demolink.org</p>
     </div>
    </div>
    <div class="second-div mission">
      <h5>Our Mission</h5>
      <p class="main-para">Egue fermentum nisl. Mes cuml dia. Sed in lacus ut enim apiscing aliiqt sit amet euismod inuctor ut ligulaam dapibus tincdunt mtsent justo dolor lobortr ac lorl umsed ante.</p>
      <p class="main-para">Donec sagittieis purusperspiciatis unom iste natus error sit votatem accloremque laudantiu totam rem aperaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <p class="main-para">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia conuntur magni dolores eos qui rationeoluptatem sequi nesciunt. Neque papibus tinc.</p>
      <button class="read-btn" type="submit" >Read More</button>
      <hr class="big-hr"> 
      <hr class="sml-hr">
      <h5 class="team-heading">Meet Our Work Team</h5>
      <ul class="team row-fluid">
        <li class="team-list">
         <img class="team-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2011/07/business_1.jpg" alt="team-img1">
         <p class="team-para"> <a>Michael Freeman</a></p>
         <p class="team-para">Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibu....</p>
         <button class="team-btn" type="submit">More</button>
        </li>
        <li class="team-list">
         <img class="team-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2011/07/business_4.jpg" alt="team-img2">
         <p class="team-para"><a>Adriana Spelling</a></p>
         <p class="team-para">Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibu....</p>
         <button class="team-btn" type="submit">More</button>
        </li>
        <li class="team-list">
         <img class="team-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2011/07/business_5.jpg" alt="team-img3">
         <p class="team-para"> <a>Jessica Right</a></p>
         <p class="team-para">Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibu....</p>
         <button class="team-btn" type="submit">More</button>
        </li>
        </ul>
        <ul class="team row-fluid">
        <li class="team-list">
         <img class="team-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2011/07/business_6.jpg" alt="team-img4">
         <p class="team-para"> <a>Alan Smith</a></p>
         <p class="team-para">Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibu....</p>
         <button class="team-btn" type="submit">More</button>
        </li>
        <li class="team-list">
         <img class="team-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2011/07/business_7.jpg" alt="team-img5">
         <p class="team-para"><a>Lisa White</a></p>
         <p class="team-para">Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibu....</p>
         <button class="team-btn" type="submit">More</button>
        </li>
        </ul>
    </div>

  </div>
 </div>
</div>

<%- include('partials/footer'); -%>