<%-include('partials/header'); -%>
<div class="container main-container ">
    <div class="about">
     <h3 class="about-heading">Blog</h3>
     <div class="about-navbar">
       <nav class=" about-nav navbar navbar-expand-lg navbar-light bg-light">
         <p class="about-link"><a href="/"><span style="color:black">Home</span></a> | About</p>
       </nav>
     </div>
    </div>
    <div class="blog">
     <div class="blog-left">
      <div class="blog-main">
        <h4 class="blog-h4">Lorem ipsum dolor sit amet, consect etuer adipiscing elit.</h4>
      <div class="blog-content">
        <img class="blog-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2014/03/Depositphotos_30302377_original-200x150.jpg" alt="img">
        <p class="blog-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus fringilla hendrerit lectus nec vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In faucibus, risus eu volutpat pellentesque, massa felis feugiat velit, nec...</p> 
      </div>
        <button class="btn-readmore" type="submit">Read more</button>
      </div>
    <hr class="social-hr">
      <div class="social-1">
       <div class="social-calender">
        <a class="social-media" href=""><i class="font-icons far fa-calendar-alt"></i></a>
        <a class="social-media" href="">March 14,2013</a>
       </div>
       <div class="social-admin">
        <a class="social-media" href=""><i class="font-icons fas fa-user"></i></a>
        <a class="social-media" href=""> Admin</a>
       </div>
      </div>
    <hr class="social-hr">
      <div class="social-2">
       <div class="social-uncatagorized">
         <a class="social-media" href=""><i class="font-icons fas fa-bookmark"></i></a>
         <a class="social-media" href=""> UnCatagorized</a>
       </div>
       <div class="social-tags">
         <a class="social-media" href=""><i class="font-icons fas fa-tag"></i></a>
         <a class="social-media" href=""> No tags</a>
       </div>
      </div>
    <hr class="social-hr">
     <div class="social-3">
      <div class="social-comments">
        <a class="social-media" href=""><i class="font-icons fas fa-comments"></i></a>
        <a class="social-media" href=""> No Comments</a>
      </div>
      <div class="social-views">
        <a class="social-media" href=""><i class="font-icons fas fa-eye"></i></a>
        <a class="social-media" href=""> 151</a>
      </div>
      <div class="social-like">
        <a class="social-media" href=""><i class="font-icons fas fa-thumbs-up"></i></a>
        <a class="social-media" href=""> 0</a>
      </div>
      <div class="social-unlike">
        <a class="social-media" href=""><i class="font-icons fas fa-thumbs-down"></i></a>
        <a class="social-media" href=""> 0</a>
      </div>
     </div>
    <hr class="social-hr">
    </div>
    
<!------------blog-right--------------- -->
     <div class="blog-right">
      <h4 class="right-h4">Product Categories</h4>
        <ul class="right-ul">
         <li class="right-li"><a class="right-a" href="">Dark Roast</a></li>
         <li class="right-li"><a class="right-a" href="">Decaf</a></li>
         <li class="right-li"><a class="right-a" href="">Favorite Blends</a></li>
         <li class="right-li"><a class="right-a" href="">Flavored Favorites</a></li>
         <li class="right-li"><a class="right-a" href="">Indonesian</a></li>
         <li class="right-li"><a class="right-a" href="">South of the Border</a></li>
        </ul>
<!------------brand-products------------------ -->
      <h4 class="right-h4">Top Rated Products</h4> 
        <div class="brand">
         <img class="brand-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2014/03/Tasters-Choice-Hazelnut-Instant-Coffee-1-90x90.png" alt="brand1">
         <div class="brand-details">
         <a class="brand-a" href="">Tasters Choice Hazelnut</a>
         <p class="brand-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
         <p class="brand-rate">$95.00</p>
         </div>
        </div>
        <div class="brand">
         <img class="brand-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2014/03/No.49-blend-fine-ground-coffee-1-90x90.png" alt="brand2">
         <div class="brand-details">
         <a class="brand-a" href="">Blend fine ground</a>
         <p class="brand-rating"></p>
         <p class="brand-rate"></p>
         </div>
        </div>
        <div class="brand">
         <img class="brand-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2014/03/Nescafe-Dolce-Gusto-Dark-Roast-1-90x90.png" alt="brand3">
         <div class="brand-details">
         <a class="brand-a" href="">Dolce Gusto Nescafe</a>
         <p class="brand-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
         <p class="brand-rate"></p>
         </div>
        </div>
        <div class="brand">
         <img class="brand-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2014/03/Maxwell-House-French-Roast-Medium-Dark-Ground-Coffee-1-90x90.png" alt="brand4">
         <div class="brand-details">
         <a class="brand-a" href="">Maison Camus Signature</a>
         <p class="brand-rating"></p>
         <p class="brand-rate"></p>
         </div>
        </div>
        <div class="brand">
         <img class="brand-img" src="https://livedemo00.template-help.com/woocommerce_48893/wp-content/uploads/2014/03/Depositphotos_7566138_original-90x90.jpg" alt="brand6">
         <div class="brand-details" >
         <a class="brand-a" href="" >Maison Camus French</a>
         <p class="brand-rating"></p>
         <p class="brand-rate"></p>
         </div>
        </div>
     </div>

    </div>
</div>


<%-include('partials/footer');-%>